.main {
    width: 1280px;
    margin: auto;
    display: flex;
}

.project-main-div {
    flex-direction: column;
}

.projects-div {
display: flex;
justify-content: space-between;
align-items: end;
}

